*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
body{
  
}
a{
    text-decoration: none;
    color:inherit
}
/* start menu ..................................................................... */
.main-menu{
    /* background-color: antiquewhite; */
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
    color: #006953;
}
.logo{
    font-size: 16px;
    padding: 8px 16px;
}
.header-ul1{
    /* background-color: aqua; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header-ul1 li{
    padding: 8px 32px;
}
.header-ul1-myprojects{
    cursor: pointer;
}
.header-myprojects-submenu{
    display: none;
     /* background-color:chocolate; */
    list-style: none; 
    display: flex;
    flex-direction:column;
    position: absolute;
    margin-top: 8px;
    padding: 8px;
    border: solid 1px #006953;
    border-radius: 4px;
    list-style: none;
    
}
.header-myprojects-submenu li{
    padding: 8px;
    /* background-color: bisque; */
}
.btn-contactme{
    background-color: #006953;
    color: white;
    border-radius: 4px;
    margin: 8px;
    padding: 8px 16px;
}
.header-humbergermenu{
    padding: 8px;
    display: none;
}

.header-humbergermenu-icon{
    height: 32px;
}
/* end menu................................................................ */
/* start hero................................................................ */
.hero{
    max-width: 1200px;
    margin: 104px auto;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     /* background-color:crimson;  */
     
} 


.hero-title-green-image{
    position: absolute;
    top:160px;
    left:-40px;
}
.hero-left{
    padding: 130px 0px;
     /* background-color: aquamarine; */
    display: flex; 
    flex-direction: column;
    padding-left: 8px;
}
.hero-left-p1{
    font-size: 24px;
}
.hero-left-p2{
    font-size: 48px;
    color: #006953;
    padding-top:40px ;
}
.hero-left-p3{
    padding-top:24px ;
    font-size: 40px;
    max-width: 440px;
    /* background-color: blueviolet; */
}
.hero-left-btn{
    padding-top: 40px;
    /* background-color: aqua; */
}
.hero-right{
    /* background-color:cadetblue; */
   
}
.hero-right-image{
    max-width: 570px; 
    display: block;
   /* background-color: crimson; */
}
/* end hero .......................................*/
/* project over view ..............................*/
.project-overview{
    max-width: 1200px;
    margin: 80px auto;
    flex-wrap: wrap;
    /* background-color:chocolate; */
    padding: 8px;
}
.project-overview-p1,.problem-statement-p1,.project-goal-p1,.design-thinking-process-p1,.timeline-p1{
    font-size: 40px;
}
.project-overview-p1 span,.problem-statement-p1 span,.project-goal-p1 span{
    color: #006953;
}
.project-overview-p2{
    font-size: 16px;
}
.problem-statement{
    max-width: 1200px;
    margin: 80px auto;
    flex-wrap: wrap;
    padding: 8px;
}
.project-goal{
    max-width: 1200px;
    margin: 80px auto;
    padding: 8px;
    flex-wrap: wrap;
}
.project-goal-green-shape{
    position: absolute;
    top:1400px;
    left:-170px;
    z-index: -10;
}
.design-thinking-process{
    max-width: 1200px;
    margin: 80px auto;
    padding: 8px;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
}
.design-thinking-process-row{
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: brown; */

}
.design-thinking-process-cart{
    /* background-color: blue; */
}
.design-thinking-process-cart-p{
    margin-top: 32px;
    max-width: 144px;
    /* background-color: crimson; */
}
.timeline{
    max-width: 1200px;
    margin: 80px auto;
    padding: 8px;
    /* background-color: aquamarine;*/
} 
.timeline-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.timeline-ux-design{
    background-color: #006953;
    color: white;
    padding: 8px;
    font-size: 32px;
}
.timeline-ui-design{
    background-color: #BE9871;
    padding: 8px;
    font-size: 32px;
}
.timeline-details-left{
    background-color: #BE9871;
    display: grid;
    justify-content: space-between;

}
.timeline-left-cart{
    /* background-color: chocolate; */
    height: 80px;
    padding-top: 16px;
    max-width: 208px;
}
 .cart2{
    margin-top: 40px;
}
 .cart3{
    margin-top: 80px;
}
 .cart4{
    margin-top: 120px;
}
.timeline-right{
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.timeline-right-cart{
    height: 80px;
    padding-top: 16px;
    max-width: 208px;
}
.cart6{
    margin-top: 40px;
}
.cart7{
    margin-top: 80px;
}
.timeline-right p{
    max-width: 158px;
}
.timeline-left{
   /* background-color: aqua; */
   display: flex;
    flex-direction: row;
}
/* empathize ..............................*/
.empathize{
    max-width: 1360px;
    margin: 80px auto;
    margin-right: 0px;
    justify-content: space-between;
    /* background-color: blanchedalmond; */
    
}
.empathize-title{
    font-size: 40px;
    max-width: 635px;
    color: #006953;
}
.empathize-left-title{
    border-bottom: solid 1px #006953;
   
}
.empathize-title2{
    font-size: 24px;
    margin-top: 32px;
}
.empathize-row{
    max-width: 1360px;
     /* background-color: blue;  */
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    flex-wrap: wrap;
   margin-top: 32px;
    
}
.empathize-left-title{
font-size: 24px;
}
.empathize-left-title2{
    margin-top: 24px;
    margin-bottom: 32px;
}
.empathize-left{
   background-color: #E3CAA8;
    padding: 8px;
    display: flex;
    flex-direction: column; 
    justify-content: right;
   max-width: 635px;
}
.empathize-right{
     display: flex;
    flex-direction: column; 
     align-content:center;
    justify-content: space-between; 
    /* background-color: #006953; */
   
}
.empathize-right img{
    
}
/*.............media query.....................*/

@media (max-width: 768px){
    .header-ul1{
        display: none;

    }
    .header-humbergermenu{
        display: block;
    }
    
.hero-title-green-image,.project-goal-green-shape{
    display: none;
}
.hero{
    flex-direction: row-reverse;
}
}
@media (max-width: 576px){
    .hero-right-image{
         max-width: 420px; 
     }
}
