*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
body{
  
}
a{
    text-decoration: none;
    color:inherit
}
/* start menu ..................................................................... */
.main-menu{
    /* background-color: antiquewhite; */
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
    color: #006953;
}
.logo{
    font-size: 16px;
    padding: 8px 16px;
}
.header-ul1{
    /* background-color: aqua; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header-ul1 li{
    padding: 8px 32px;
}
.header-ul1-myprojects{
    cursor: pointer;
}
.header-myprojects-submenu{
    display: none;
     /* background-color:chocolate; */
    list-style: none; 
    display: flex;
    flex-direction:column;
    position: absolute;
    margin-top: 8px;
    padding: 8px;
    border: solid 1px #006953;
    border-radius: 4px;
    list-style: none;
    
}
.header-myprojects-submenu li{
    padding: 8px;
    /* background-color: bisque; */
}
.btn-contactme{
    background-color: #006953;
    color: white;
    border-radius: 4px;
    margin: 8px;
    padding: 8px 16px;
}
.header-humbergermenu{
    padding: 8px;
    display: none;
}

.header-humbergermenu-icon{
    height: 32px;
}
/* end menu................................................................ */
/* start hero................................................................ */
.hero{
    max-width: 1200px;
    margin: 104px auto;
    display: block;
     background-color:crimson; 
     
} 
.hero-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: beige;
}

.hero-title-green-image{
    position: absolute;
    top:160px;
    left:-40px;
}
.hero-left{
    padding: 130px 0px;
     /* background-color: aquamarine; */
    display: flex; 
    flex-direction: column;
    padding-left: 8px;
}
.hero-left-p1{
    font-size: 24px;
}
.hero-left-p2{
    font-size: 48px;
    color: #006953;
    padding-top:40px ;
}
.hero-left-p3{
    padding-top:24px ;
    font-size: 40px;
    max-width: 440px;
    /* background-color: blueviolet; */
}
.hero-left-btn{
    padding-top: 40px;
    /* background-color: aqua; */
}
.hero-right{
    /* background-color:cadetblue; */
   
}
.hero-right-image{
    max-width: 570px; 
    display: block;
   /* background-color: crimson; */
}
/* end hero .......................................*/
/* project over view ..............................*/
.project-overview{
    max-width: 1200px;
    margin: 80px auto;
    flex-wrap: wrap;
    /* background-color:chocolate; */
    padding: 8px;
}
.project-overview-p1,.problem-statement-p1,.project-goal-p1{
    font-size: 40px;
}
.project-overview-p1 span,.problem-statement-p1 span,.project-goal-p1 span{
    color: #006953;
}
.project-overview-p2{
    font-size: 16px;
}
.problem-statement{
    max-width: 1200px;
    margin: 80px auto;
    flex-wrap: wrap;
    padding: 8px;
}
.project-goal{
    max-width: 1200px;
    margin: 80px auto;
    padding: 8px;
    flex-wrap: wrap;
}
/*.............media query.....................*/

@media (max-width: 768px){
    .header-ul1{
        display: none;

    }
    .header-humbergermenu{
        display: block;
    }
    /* .hero{
         flex-direction: row-reverse; 
    } */
.hero-title-green-image{
    display: none;
}
.hero{
    flex-direction: row-reverse;
}
}
@media (max-width: 576px){
    .hero-right-image{
         max-width: 420px; 
     }
}
